# .coveragerc to control coverage.py
[run]
branch = False
source = .
omit =
    ./patchalerts/wrappers/discord_hooks.py
[report]
exclude_lines =
    pragma: no cover
    !cover
    def __repr__
    def alert
    except
    raise
    if __name__ ==

ignore_errors = True